on: [push, pull_request]

name: Go
jobs:

  test:
    strategy:
      matrix:
        go-version: [1.14.x, 1.15.x, 1.16.x, 1.17.x, 1.18.x]
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v1
    - name: Download Go dependencies
      env:
        GOPROXY: "https://proxy.golang.org"
      run: go mod download
    - name: Test with -race
      run: go test -race -count=1 ./...
    - name: Integration test
      if: matrix.platform == 'ubuntu-latest' && startsWith(matrix.go-version, '1.18')
      run: |
        sudo modprobe nfnetlink_queue
        sudo ip6tables -I OUTPUT -p ipv6-icmp -j NFQUEUE --queue-num 100
        sudo iptables -I OUTPUT -p icmp -j NFQUEUE --queue-num 100
        go test -v -tags integration -exec=sudo -count=1 ./...
    - name: staticcheck.io
      if: matrix.platform == 'ubuntu-latest' && startsWith(matrix.go-version, '1.18')
      uses: dominikh/staticcheck-action@v1.1.0
      with:
        version: "2021.1.1"
        install-go: false
        cache-key: ${{ matrix.go-version }}